/* resources/css/fonts.css */
@font-face {
    font-family: "IRANSansX";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src:
      url("../fonts/iransansx/Woff2/IRANSansXFaNum-Thin.woff2") format("woff2"),
      url("../fonts/iransansx/Woff/IRANSansXFaNum-Thin.woff") format("woff");
  }

  @font-face {
    font-family: "IRANSansX";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src:
      url("../fonts/iransansx/Woff2/IRANSansXFaNum-UltraLight.woff2") format("woff2"),
      url("../fonts/iransansx/Woff/IRANSansXFaNum-UltraLight.woff") format("woff");
  }

  @font-face {
    font-family: "IRANSansX";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
      url("../fonts/iransansx/Woff2/IRANSansXFaNum-Light.woff2") format("woff2"),
      url("../fonts/iransansx/Woff/IRANSansXFaNum-Light.woff") format("woff");
  }

  @font-face {
    font-family: "IRANSansX";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url("../fonts/iransansx/Woff2/IRANSansXFaNum-Regular.woff2") format("woff2"),
      url("../fonts/iransansx/Woff/IRANSansXFaNum-Regular.woff") format("woff");

  }

  @font-face {
    font-family: "IRANSansX";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
      url("../fonts/iransansx/Woff2/IRANSansXFaNum-Medium.woff2") format("woff2"),
      url("../fonts/iransansx/Woff/IRANSansXFaNum-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "IRANSansX";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
      url("../fonts/iransansx/Woff2/IRANSansXFaNum-DemiBold.woff2") format("woff2"),
      url("../fonts/iransansx/Woff/IRANSansXFaNum-DemiBold.woff") format("woff");
  }

  @font-face {
    font-family: "IRANSansX";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
      url("../fonts/iransansx/Woff2/IRANSansXFaNum-Bold.woff2") format("woff2"),
      url("../fonts/iransansx/Woff/IRANSansXFaNum-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "IRANSansX";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src:
      url("../fonts/iransansx/Woff2/IRANSansXFaNum-ExtraBold.woff2") format("woff2"),
      url("../fonts/iransansx/Woff/IRANSansXFaNum-ExtraBold.woff") format("woff");
  }

  @font-face {
    font-family: "IRANSansX";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
      url("../fonts/iransansx/Woff2/IRANSansXFaNum-Black.woff2") format("woff2"),
      url("../fonts/iransansx/Woff/IRANSansXFaNum-Black.woff") format("woff");
  }

  /* وزن‌های ویژه (Tailwind پیش‌فرض ندارد، ولی می‌گذاریم) */
  @font-face {
    font-family: "IRANSansX";
    font-style: normal;
    font-weight: 950;
    font-display: swap;
    src:
      url("../fonts/iransansx/Woff2/IRANSansXFaNum-ExtraBlack.woff2") format("woff2"),
      url("../fonts/iransansx/Woff/IRANSansXFaNum-ExtraBlack.woff") format("woff");
  }
  @font-face {
    font-family: "IRANSansX";
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
    src:
      url("../fonts/iransansx/Woff2/IRANSansXFaNum-Heavy.woff2") format("woff2"),
      url("../fonts/iransansx/Woff/IRANSansXFaNum-Heavy.woff") format("woff");
  }
